@media screen and (min-width: 481px) {
    h1 {
        font-size: 25px;
    }

    .containerLista {
        width: 450px;
    }

    .imgLogo {
        width: 130px;
        height: 130px;
    }

    input, button {
        padding: 15px;
    }

    footer {
        font-size: 25px;
    }
}

@media screen and (min-width: 670px) {
    h1,footer {
        font-size: 30px;
    }

    .containerLista {
        width: 560px;
    }

    .imgLogo {
        width: 160px;
        height: 160px;
    }

    input, button {
        padding: 25px;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    h1,footer {
        font-size: 35px;
    }

    .containerLista {
        width: 660px;
        height: 65vh;
    }

    .imgLogo {
        width: 180px;
        height: 170px;
    }

    input, button {
        padding: 30px;
        font-size: 25px;
    }
}
 
@media screen and (min-width: 1024px) {
    .containerTeskFlow{
        display: grid;
        grid-template-areas: 
            "header header  content"
            "footer footer footer";
        position: absolute;
        top: 20%;
        
    }

    header{
        grid-area: header;
    }

    main{
        grid-area: content;
    }

    h1 {
        display: none;
    }

    .containerLista {
        width: 500px;
        height: 500px;
        margin: 10px;
    }

    .imgLogo {
        width: 500px;
        height: 500px;
    }

    input, button {
        padding: 30px;
        font-size: 25px;
    }

    footer {
        grid-area: footer;
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .containerTeskFlow{
        display: grid;
        grid-template-areas: 
            "header header  content"
            "footer footer footer";
        position: absolute;
        top: 20%;
        
    }

    header{
        grid-area: header;
    }

    main{
        grid-area: content;
    }

    h1 {
        display: none;
    }

    .containerLista {
        width: 450px;
        height: 450px;
        margin: 10px;
    }

    .imgLogo {
        width: 450px;
        height: 450px;
    }

    input, button {
        padding: 30px;
        font-size: 19px;
    }

    footer {
        grid-area: footer;
        font-size: 30px;
    }
} 
