/* RESPONSIVIDADE */

/* TELAS PEQUENAS */
@media screen and (min-width: 481px) {
    h1 {
        font-size: 25px;
    }

    .containerLista {
        max-width: 450px;
    }

    .imgLogo {
        width: 130px;
        height: 130px;
    }

    input,
    button {
        padding: 15px;
    }

    footer {
        font-size: 25px;
    }
}

/* TABLETS */
@media screen and (min-width: 670px) {
    h1,
    footer {
        font-size: 30px;
    }

    .containerLista {
        max-width: 560px;
    }

    .imgLogo {
        width: 160px;
        height: 160px;
    }

    input,
    button {
        padding: 20px;
        font-size: 18px;
    }
}

/* TELAS MÉDIAS */
@media screen and (min-width: 768px) {
    h1,
    footer {
        font-size: 35px;
    }

    .containerLista {
        max-width: 660px;
    }

    .imgLogo {
        width: 180px;
        height: 170px;
    }

    input,
    button {
        padding: 25px;
        font-size: 20px;
    }
}

/* TELAS GRANDES */
@media screen and (min-width: 1024px) {
    .containerTeskFlow {
        display: grid;
        grid-template-areas:
            "header header content"
            "footer footer footer";
        position: absolute;
        top: 10%;
        max-width: 80%;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: content;
    }

    h1 {
        display: none;
    }

    .containerLista {
        width: 500px;
        height: 500px;
        margin: 10px;
    }

    .imgLogo {
        width: 500px;
        height: 500px;
    }

    input,
    button {
        padding: 30px;
        font-size: 22px;
    }

    footer {
        grid-area: footer;
        font-size: 30px;
    }
}

/* TELAS EXTRA GRANDES */
@media screen and (min-width: 1200px) {
    .containerTeskFlow {
        display: grid;
        grid-template-areas:
            "header header content"
            "footer footer footer";
        position: absolute;
        top: 10%;
        max-width: 70%;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: content;
    }

    h1 {
        display: none;
    }

    .containerLista {
        width: 450px;
        height: 450px;
        margin: 10px;
    }

    .imgLogo {
        width: 450px;
        height: 450px;
    }

    input,
    button {
        padding: 25px;
        font-size: 20px;
    }

    footer {
        grid-area: footer;
        font-size: 30px;
    }
}
